@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h2>Bienvenidos a Butterfly</h2>
    <h4>Tienda que toda mujer necesita visitar</h4>
    <p>
        <img src="~/Imagenes/shopping_bag_purple.png" />
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>No sabes que ponerte? Mira lo que te traemos.</h2>
        <p>
            Somos una tienda que tiene desea tener lo que todas buscamos para vernos bien y para cualquier ocasión siempre tener
            un conjunto que no haga ver bien.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Como nació nuestro marca?</h2>
        <p>
            Esto más que que nada fue un riegos que tomanos, ya que hay un frase que dice <strong>"Quien no arriega no gana."</strong>
            y nosotros a traves de esta frase decidimos arrieganos y ver si ganamos esta carrera que solo los que estan dispuesto a
            arriega más de lo que estan dispuesto a dar <strong>gana;</strong> y es asi como hoy por hoy estamos aqui y somo ya una
            marca de con un nombre reconocido. 
        </p>
    </div>
    
</div>